.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right:auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (--container-viewport) {
  .full-bleed {
    margin-left: calc((100vw - var(--container-width) - 1rem) / -2);
    margin-right: calc((100vw - var(--container-width) - 1rem) / -2);
  }
}
