.image {
  margin: 0 -1rem 2rem -1rem;
  transition: margin ease 0.2s;
}

.image__img {
  margin-bottom: 0;
  display: block;
}

.img__controls {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  margin: 0 1rem;
}

.image__expand {
  display: none !important;
}

@media (--container-viewport) {
  /* TODO move this logic into component */
  .image__expand {
    display: block !important;
  }
}
