.site-header {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.site-header__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.site-header__logo {
  flex: 1 0;
  line-height: 1;
  transition: linear 0.3s color;
  text-decoration: none;
}

.site-header__logo:hover,
.site-header__logo:focus {
  color: var(--color-text-dark);
}
