.site-header {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.site-header__inner {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.site-header__logo {
  font-size: 1.25rem;
  line-height: 1;
  transition: linear 0.3s color;
  text-decoration: none;
}

.site-header__logo:hover,
.site-header__logo:focus {
  color: var(--color-text-dark);
}

@media (--medium-viewport) {
  .site-header__logo {
    font-size: 2rem;
  }
}
