:root {
  --color-bg-light: #f4f6f7;
  --color-bg-dark: #e9ebec;
  --color-text-light: #6F6D6D;
  --color-text: #5a5959;
  --color-text-dark: #111;

  --color-primary: #ff004e;
  --color-primary-alt: #e00043;
  --color-white: #fff;

  --font-size-base: 16px;
  --font-size-large-up: 18px;
  --line-height-base: 1.71;
  --font-heading: 'Raleway', sans-serif;
  --font-copy: 'Open Sans', sans-serif;
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --container-width: 45rem;
}

@custom-media --small-viewport (min-width: 35em);

@custom-media --medium-viewport (min-width: 55em);

@custom-media --large-viewport (min-width: 70em);

@custom-media --xlarge-viewport (min-width: 90em);

@custom-media --container-viewport (min-width: 45em);