@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-slide-fade-in {
  animation: slide-fade .3s ease-in both;
}

.animation-delay-1 {
  animation-delay: 0.3s !important;
}

.animation-delay-2 {
  animation-delay: .6s !important;
}