@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop-fade {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-fade-in {
  animation: fade .3s ease-in both;
}

.animation-delay-1 {
  animation-delay: 0.3s !important;
}

.animation-delay-2 {
  animation-delay: .6s !important;
}

.animation-delay-3 {
  animation-delay: 0.9s !important;
}

.animation-delay-4 {
  animation-delay: 1.2s !important;
}