.button {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.875rem;
  border-radius: 3px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all var(--transition-timing-function) var(--transition-duration);
  min-width: 8rem;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.2px;
}

.button::after {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: '';
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent var(--color-primary);
  opacity: 0;
  transition: all var(--transition-timing-function) var(--transition-duration);
}

.button:hover,
.button:focus {
  color: var(--color-primary);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  text-decoration: none;
  letter-spacing: -0.5px;
  outline: none;
}

.button:hover::after,
.button:focus::after {
  right: 10px;
  opacity: 1;
}
