* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-open-sans);
  font-size: 14px;
  color: var(--color-text);
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
  background: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-family: var(--font-raleway);
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

h4,
.h4 {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

h5,
.h5 {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

h6,
.h6 {
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

main {
  font-size: 0.95rem;
  padding: var(--gutter-width);
  position: relative;
  z-index: 10;
  flex-grow: 1;
}

p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 20px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1rem;
  break-inside: avoid;
}

blockquote {
  padding-left: 0.5rem;
  border-left: 4px solid var(--color-lighter-grey);
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-left: 0;
}

code {
  background: var(--color-lightest-grey);
  font-size: 0.8rem;
  font-family: monospace;
  border-radius: 2px;
  padding: 2px 4px;
}

pre > code {
  display: block;
  margin: calc(-var(--gutter-width) / 2);
  padding: calc(var(--gutter-width) / 2);
  overflow-y: scroll;
}

@media (--small-viewport) {
  html {
    font-size: 16px;
    background: linear-gradient(to bottom, var(--color-primary), #ff2265 95vh);
  }

  h1,
  .h1 {
    font-size: 2rem;
  }

  main {
    padding: var(--gutter-width-medium-up);
  }

  blockquote {
    padding-left: 1.5rem;
  }
}
