* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font-copy);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background: var(--color-white);
  line-height: var(--line-height-base);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: all var(--transition-timing-function) var(--transition-timing-function);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-primary-alt);
}

img {
  width: 100%;
  max-width: 100%;
}

h1, .h1 {
  font-family: var(--font-heading);
  font-size: 1.125rem;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: bold;
  line-height: 1.5;
}

@media (--medium-viewport) {
  h1, .h1 {
    font-size: 1.75rem;
  }
}

h2,
.h2 {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}

h3,
.h3 {
  font-family: var(--font-heading);
  font-size: 1.125rem;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}

h4,
.h4 {
  font-family: var(--font-heading);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}

h5,
.h5 {
  font-family: var(--font-heading);
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}

ul,
ol {
  padding-left: 1rem;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.25rem;
  break-inside: avoid;
}

li ul,
li ol {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

blockquote {
  padding-left: 0.5rem;
  border-left: 2px solid var(--color-lighter-grey);
  font-size: 1.1rem;
  margin-left: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

code {
  background: var(--color-lighter-grey);
  font-size: 1rem;
  font-family: monospace;
  border-radius: 2px;
  padding: 2px 4px;
}

pre > code {
  font-size: 0.875rem;
  display: block;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;
  overflow-y: scroll;
}