.page-content {
  margin-bottom: 2rem;
}

.page-content__body {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 1.125rem;
}

.page-content__body :last-child {
  margin-bottom: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header__img-container {
  margin: 0 -1rem 1rem -1rem;
  order: 0;
}

.page-header__img {
  display: block;
}

.page-header__img-meta {
  font-size: 0.65rem;
  color: var(--color-text-light);
  text-align: right;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  font-family: var(--font-accent);
}

.page-header__title {
  margin: 0 0 1.5rem 0;
  order: 1;
}

.page-header__summary {
  order: 2;
  font-size: 1.25rem;
  color: var(--color-gray-dark);
  margin-bottom: 2rem;
}

.page-header__date {
  font-size: 0.75rem;
  order: 3;
  margin-bottom: 1.5rem;
}

.page-header__date-label {
  font-weight: bold;
}

.page-header__title:only-child {
  margin: 0;
}
