.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.site-header.fixed {
  position: fixed;
  top: -48px;
  z-index: 100;
}

.site-header__inner {

}

.site-header__inner::before {
  display: block;
  content: '';
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    #ff2265 70%
  );
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  transition: none;
}

.site-header__banner {

}

.site-header__banner::after {
  position: absolute;
  width: 55px;
  height: 29px;
  top: 8px;
  left: 50%;
  margin-left: -27.5px;
  content: '';
  display: block;
  background-image: url('../img/md-small.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (--small-viewport) {
  .site-header {
    height: auto;
    position: absolute;
    z-index: 10;
    text-align: left;
    transition: none;
  }

  .site-header.fixed {
    top: -128px;
  }

  .site-header__inner {
    position: relative;
    margin-left: 10rem;
    background: var(--color-white);
    height: 10rem;
  }

  .site-header__inner::before {
    display: none;
  }

  .site-header__banner::before {
    display: block;
    content: '';
    position: absolute;
    width: 442px;
    height: 195px;
    left: 0;
    top: 42px;
    margin-left: 0;
    margin-left: -52px;
    background-image: url('../img/md.svg');
    background-position: top left;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in;
    animation: drop-fade ease-in 0.3s;
  }

  .site-header__banner::after {
    top: 128px;
    left: 0;
    margin-top: 10px;
    margin-left: -67px;
    opacity: 0;
    transition: none;
    transform: rotateX(1080deg);
  }

  .site-header.fixed .site-header__banner::before {
    transform: translateY(-50px);
    opacity: 0;
  }

  .site-header.fixed .site-header__banner::after {
    opacity: 1;
    transform: rotateX(0deg);
    transition: all 1s ease-out;
  }
}
