.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.site-header::before {
  display: block;
  content: '';
  position: absolute;
  background: linear-gradient(to bottom, #ff004e 0%, #ff366c 70%);
  box-shadow: inset 0 -7px 10px rgba(0, 0, 0, 0.0.1);
  height: 3rem;
  top: 0;
  left: 0;
  right: 0;
}

.site-header::after {
  position: absolute;
  width: 55px;
  height: 29px;
  top: 8px;
  left: 50%;
  margin-left: -27.5px;
  content: '';
  display: block;

  background-image: url('../img/md-small.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (--small-viewport) {
  .site-header {
    box-shadow: inset -7px 0 10px rgba(0, 0, 0, 0.0.1);
    height: auto;
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 0;
    text-align: left;
    box-shadow: none;
    background:none;
  }

  .site-header::before {
    display: none;
  }

  .site-header::after {
    width: 459px;
    height: 208px;
    left: 91px;
    top: 42px;
    margin-left: 0;
    background-image: url('../img/md-shadow.svg');
    background-position: top left;
  }
}
