.site-nav {
  margin-top: 3rem;
  background: rgba(255,255,255,0.95);
  position: relative;
}

.site-nav::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--color-lighter-grey);
}

.site-nav__list {
  display: flex;
}

.site-nav__list-item {
  flex-grow: 1;
  text-align: center;
}

.site-nav__list-item + .site-nav__list-item {
  margin-left: 0.5rem;
}

.site-nav__link {
  padding: .75rem 1rem;
  min-width: 6rem;
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: all var(--transition-timing-function) var(--transition-duration);
  font-weight: bold;
}

.site-nav__link:hover,
.site-nav__link:focus {
  border-bottom: 3px solid var(--color-lighter-grey);
  text-decoration: none;
}

.site-nav__link.active {
  border-bottom: 3px solid var(--color-light-grey);
  color: var(--color-gray);
}

@media (--small-viewport) {
  .site-nav {
    position: absolute;
    left: 0;
    top: 128px;
    z-index: 100;
    margin-top: 0;
    padding-left: 2rem;
    width: 100%;
    animation: fade ease-in 0.3s 0.3s both;
  }

  .site-nav::after {
    left: 2rem;
    right: 2rem;
  }

  .site-nav__list {
    float: left;
  }
}

