.site-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  background:#fff;
}

@media (--small-viewport) {
  .site-content {
    margin-left: 10rem;
    padding-top: 11rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0.2);
  }
}

@media (--large-viewport) {
  .site-content {
    padding-top: 7rem;
  }
}