.transition-delay-1 {
  transition-delay: 0.3s !important;
}

.transition-delay-2 {
  transition-delay: .6s !important;
}

.transition-fade-in-appear,
.transition-fade-in-enter {
  opacity: 0;
}

.transition-fade-in-appear.transition-fade-in-appear-active,
.transition-fade-in-enter.transition-fade-in-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
