:root {
  --color-primary: #EB0046;
  --color-primary-alt: #c7003c;
  --color-white: #fff;
  --color-lightest-grey: #fafafa;
  --color-lighter-grey: #efefef;
  --color-light-grey: #ddd;
  --color-gray: #707070;
  --color-gray-dark: #505050;
  --color-gray-darker: #404040;
  --color-text: var(--color-gray-darker);
  --color-text-light: var(--color-gray);
  --font-size-base: 16px;
  --line-height-base: 1.71;
  --font-heading: 'Georgia', serif;
  --font-copy: 'Georgia', serif;
  --font-accent: 'Tahoma', sans-serif;
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
}

@custom-media --small-viewport (min-width: 25em);

@custom-media --medium-viewport (min-width: 35em);

@custom-media --large-viewport (min-width: 70em);

@custom-media --xlarge-viewport (min-width: 90em);