RewriteEngine on

# redirect www to non-www
RewriteCond %{HTTP_HOST} ^www [NC]
RewriteRule ^(.*)$ https://mattdistefano.com/$1 [L,R=301]

# redirect http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# if foo requested, return foo.html contents
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}\.html -f
# RewriteRule ^(.*)$ $1.html [L]

# strip .html extensions
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule ^(.+)\.html$ $1 [R,L]

# rewrite to index.html
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

RewriteRule ^ /index.html

<FilesMatch "\.(html|json)$">
  ExpiresActive On
  ExpiresDefault A1
  Header append Cache-Control must-revalidate
</FilesMatch>

# TODO limit to just assets
<FilesMatch "\.(js|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
</FilesMatch>

<FilesMatch "sw\.js$">
  Header set Cache-Control "max-age=0"
</FilesMatch>